[user]
    name = Ruslan Sayfutdinov
    email = ruslan@sayfutdinov.com
    signingkey = 1F05A1BBC662FAC6
[push]
    default = simple
[alias]
    st = status
    sl = "log --graph --pretty=format:'commit: %C(bold red)%h%Creset %C(red)<%H>%Creset %C(bold magenta)%d %Creset%ndate: %C(bold yellow)%cd %Creset%C(yellow)%cr%Creset%nauthor: %C(bold blue)%an%Creset %C(blue)<%ae>%Creset%n%C(cyan)%s%n%Creset'"
    prev = checkout HEAD^1
    next = "!sh ~/bin/git-checkout-next.sh"
    fixup = "!sh ~/bin/git-fixup.sh"
    unstash = stash pop
    cleanup = "!sh ~/bin/git-branch-cleanup.sh"
[color]
    ui = auto
[pull]
    rebase = true
[commit]
    gpgsign = true
[tag]
    forceSignAnnotated = true
