{{ $default_refresh := "168h" | quote }}

{{ $nvim_dir := ".local/share/nvim" }}
{{ if eq .osid "windows" }}
{{ $nvim_dir = "AppData/Local/nvim-data" }}
{{ end }}
["{{ $nvim_dir }}/site/autoload/plug.vim"]
    type = "file"
    url = "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
    refreshPeriod = {{ $default_refresh }}

[".config/eza/theme.yml"]
    type = "file"
    url = "https://raw.githubusercontent.com/eza-community/eza-themes/refs/heads/main/themes/catppuccin.yml"
    refreshPeriod = {{ $default_refresh }}

{{ $uv_tools := joinPath .chezmoi.sourceDir ".data/uv_tools.txt" | include | trim }}
{{ $uv_tools_list := splitList "\n" $uv_tools }}
{{ $uv_tools_list = append $uv_tools_list "thefuck" }}
{{ range $uv_tools_list }}
[".config/chezmoi/pypi-cache/{{ . }}.json"]
    type = "file"
    url = "https://pypi.org/pypi/{{ . }}/json"
    refreshPeriod = "24h"
{{ end }}

{{ if ne .osid "windows" }}
[".config/zsh/antidote"]
    type = "git-repo"
    url = "https://github.com/mattmc3/antidote.git"
    refreshPeriod = {{ $default_refresh }}
{{ end }}

{{ if eq .osid "linux-centos" }}
[".local/bin/hexyl"]
    type = "archive-file"
    url = "{{ gitHubLatestReleaseAssetURL "sharkdp/hexyl" "*x86_64-unknown-linux-musl*" }}"
    stripComponents = 1
    path = "hexyl"
    executable = true

[".local/bin/ov"]
    type = "archive-file"
    url = "{{ gitHubLatestReleaseAssetURL "noborus/ov" "*linux_amd64*" }}"
    path = "ov"
    executable = true
{{ end }}

{{ if eq .osid "windows" }}
["Documents/PowerShell/Completion/bat.ps1"]
    type = "archive-file"
    url = "{{ gitHubLatestReleaseAssetURL "sharkdp/bat" "*x86_64-pc-windows-msvc*" }}"
    stripComponents = 1
    path = "autocomplete/_bat.ps1"

["Documents/PowerShell/Completion/hyperfine.ps1"]
    type = "archive-file"
    url = "{{ gitHubLatestReleaseAssetURL "sharkdp/hyperfine" "*x86_64-pc-windows-msvc*" }}"
    stripComponents = 1
    path = "autocomplete/_hyperfine.ps1"
{{ end }}

{{ if and .work_machine (ne .osid "windows") }}
[".config/zsh/custom_completion/_hg"]
    type = "file"
    url = "https://raw.githubusercontent.com/facebook/sapling/refs/heads/main/eden/scm/contrib/zsh_completion"
    refreshPeriod = {{ $default_refresh }}
{{ end }}
