encryption = "age"

[diff]
    pager = "delta"

[merge]
    command = "nvim"
    args = ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Source }}", "{{ .Target }}`}}"]

[data]
    full_name = "Ruslan Sayfutdinov"
    {{- $work_machine := promptBoolOnce . "work_machine" "Is this a work machine" }}
    work_machine = {{ $work_machine }}
    {{- $git_email := promptStringOnce . "git_email" "Email address for Git" }}
    git_email = "{{ $git_email }}"
    {{- $hg_email := promptStringOnce . "hg_email" "Email address for Hg" $git_email }}
    hg_email = "{{ $hg_email }}"
    git_signingkey = "{{ (gitHubKeys "KapJI" | first).Key }}"
    {{- $osid := .chezmoi.os -}}
    {{- if hasKey .chezmoi.osRelease "id" -}}
    {{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
    {{- end }}
    osid = "{{ $osid }}"

[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1p6n7pr73yfxysh8qjty4guhfea9gqgh7uwk8w6e3wx7r9eqqw4sqeg4r9g"

[gitHub]
    refreshPeriod = "24h"

{{- if eq .chezmoi.os "windows" }}

[cd]
    command = "pwsh.exe"

[interpreters.ps1]
    command = "powershell"
    args = ["-NoLogo", "-ExecutionPolicy", "RemoteSigned"]
{{- end }}
