encryption = "age"

[diff]
    pager = "delta"

[merge]
    command = "nvim"
    args = ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Source }}", "{{ .Target }}`}}"]

[data]
    full_name = "Ruslan Sayfutdinov"
    {{- $git_email := promptStringOnce . "git_email" "Email address for Git" }}
    git_email = "{{ $git_email }}"
    git_signingkey = "{{ (gitHubKeys "KapJI" | first).Key }}"
    {{- $osid := .chezmoi.os -}}
    {{- if hasKey .chezmoi.osRelease "id" -}}
    {{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
    {{- end }}
    osid = "{{ $osid }}"
    {{- $is_desktop := false -}}
    {{- if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "windows") -}}
    {{-   $is_desktop = true -}}
    {{- else if eq .chezmoi.os "linux" -}}
    {{-   $is_desktop = promptBoolOnce . "is_desktop" "Is this a desktop machine (GUI)?" false -}}
    {{- end }}
    is_desktop = {{ $is_desktop }}

[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1p6n7pr73yfxysh8qjty4guhfea9gqgh7uwk8w6e3wx7r9eqqw4sqeg4r9g"

[gitHub]
    refreshPeriod = "24h"

{{- if eq .chezmoi.os "windows" }}

[cd]
    command = "pwsh.exe"

[interpreters.ps1]
    command = "powershell"
    args = ["-NoLogo", "-ExecutionPolicy", "RemoteSigned"]
{{- end }}
