{{- if eq .chezmoi.os "linux" -}}
##### Basics #####

# Mouse for resize, scroll, select panes
set -g mouse on

# Required for imgcat
set -g allow-passthrough on

# History buffer (default ~2000)
set -g history-limit 50000

# Setting to xterm instead of tmux to have ccc (change colors)
set -g default-terminal "xterm-256color"

# Enable TrueColor support for vim
set -ga terminal-overrides ",*-256color*:RGB"

# Index windows/panes from 1
set -g base-index 1
setw -g pane-base-index 1

##### Window & session behaviour #####

# Auto-rename window from active command
setw -g automatic-rename on

# Renumber windows after closing
set -g renumber-windows on

# Allow apps (ssh, vim) to rename windows
set -g allow-rename on

# Set terminal title from active window
set -g set-titles on

# Only window index, title and hostname
set -g set-titles-string '#I: #W (#{host})'

# Match window size to current client (vs largest attached)
setw -g aggressive-resize on


##### Interaction & keys #####

# Enable xterm-style keys (e.g. Shift+Arrow)
setw -g xterm-keys on

# Send terminal focus in/out events
set -s focus-events on

# Emacs-style keys in command prompt (prefix + :)
set -g status-keys emacs

# Use vi keys in copy mode
setw -g mode-keys vi

# Remove vim Esc delay
set -s escape-time 40

# Time window for repeatable key bindings (ms)
set -g repeat-time 500


##### Status & notifications #####

# Refresh status line every 5s
set -g status-interval 5

# Duration of messages (ms)
set -g display-time 1000

# Duration of pane number overlay (ms)
set -g display-panes-time 1500

# Activity monitoring: log but no visual bell
set -g monitor-activity on
set -g visual-activity off
set -g bell-action none


##### Key bindings #####

# Split panes and open the same path
bind | split-window -h -c "#{pane_current_path}"
bind - split-window -v -c "#{pane_current_path}"

# Open new window with the same path
bind c new-window -c "#{pane_current_path}"

# Toggle full screen mode
bind f resize-pane -Z

# Convert pane into a window
bind F break-pane \; display-message "Pane moved to a separate window"

# Toggle synchronize-panes
bind S setw synchronize-panes \; display-message "Toggled synchronize-panes"

# Copy mode
bind v copy-mode

# Use Alt-arrow keys without prefix key to switch panes
bind -n M-Left select-pane -L
bind -n M-Right select-pane -R
bind -n M-Up select-pane -U
bind -n M-Down select-pane -D

# Shift arrow to switch windows
bind -n S-Left  previous-window
bind -n S-Right next-window

# Vi-like selection in copy mode
bind -T copy-mode-vi v send -X begin-selection
bind -T copy-mode-vi V send -X select-line
bind -T copy-mode-vi M-v send -X rectangle-toggle
bind -T copy-mode-vi Home send -X start-of-line
bind -T copy-mode-vi End  send -X end-of-line

# Do not cancel copy mode after copy
bind -T copy-mode-vi y send -X copy-selection
bind -T copy-mode-vi MouseDragEnd1Pane send -X copy-selection

# Copy last command output
bind Y if-shell -b "tmux capture-pane -p -J | tail -n 2 | grep -q '❯'" {
    copy-mode
    send -X search-backward '❯'
    send -X search-backward '❯'
    send -X begin-selection
    send -X search-forward '❯'
    send -X cursor-up
    send -X cursor-up
    send -X end-of-line
    send -X copy-pipe-and-cancel "tmux load-buffer -w -b lastcmd -"
    display-message 'Copied last command output'
} {
    copy-mode
    send -X search-backward '❯'
    send -X begin-selection
    send -X bottom-line
    send -X end-of-line
    send -X copy-selection-and-cancel
    send -X copy-pipe-and-cancel "tmux load-buffer -w -b lastcmd -"
    display-message 'Copied last command output'
}

# Quickly jump between shell prompts
bind P copy-mode \; send -X search-backward "❯"
bind N copy-mode \; send -X search-forward "❯"
bind -T copy-mode-vi P send -X search-backward "❯"
bind -T copy-mode-vi N send -X search-forward  "❯"

##### Theme #####

set -g @catppuccin_flavour 'mocha'
set -g @catppuccin_window_text "#W"
set -g @catppuccin_window_current_text "#W"
set -g @catppuccin_window_current_number "#I#{?window_zoomed_flag, ,}"
set -g @catppuccin_window_number_position "right"

# Make status line pretty
set -g status-right-length 100
set -g status-left-length 100
set -g status-left "#{tmux_mode_indicator} "
set -g status-right "#{E:@catppuccin_status_user}"
set -ag status-right "#{E:@catppuccin_status_host}"
set -ag status-right "#{E:@catppuccin_status_session}"


##### Mode Indicator #####

set -g @mode_indicator_prefix_prompt "WAIT "
set -g @mode_indicator_copy_prompt "COPY "
set -g @mode_indicator_sync_prompt "SYNC "
set -g @mode_indicator_empty_prompt "TMUX "


##### Plugins #####

set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'catppuccin/tmux#v2.1.3'
set -g @plugin 'MunifTanjim/tmux-mode-indicator'
run '~/.tmux/plugins/tpm/tpm'

# Override Catppuccin style for selected text
set -g mode-style "fg=#cdd6f4,bg=#585b70"
{{- end }}
