[user]
    name = {{ .full_name }}
    email = {{ .git_email }}
    signingkey = {{ .git_signingkey }}
[push]
    default = simple
    autoSetupRemote = true
[alias]
    # sync with zsh
    a = add
    b = branch
    c = commit
    co = checkout
    cl = clone
    cam = commit --all --message
    cm = commit --message
    d = diff
    ds = diff --staged
    f = fetch
    pl = pull
    plra = pull --rebase --autostash
    p = push
    r = remote
    rb = rebase
    rs = restore
    sh = show
    st = status
    sl = "log --graph --pretty=format:'commit: %C(bold red)%h%Creset %C(red)<%H>%Creset %C(bold magenta)%d %Creset%ndate: %C(bold yellow)%cd %Creset%C(yellow)%cr%Creset%nauthor: %C(bold blue)%an%Creset %C(blue)<%ae>%Creset%n%C(cyan)%s%n%Creset'"
    prev = "checkout HEAD^1"
    next = "!sh ~/bin/git-checkout-next.sh"
    fixup = "!sh ~/bin/git-fixup.sh"
    unstash = stash pop
    cleanup = "!sh ~/bin/git-branch-cleanup.sh"
    # hg compat
    amend = commit --all --amend
    histedit = rebase -i
    shelve = stash
    unshelve = stash pop
    uncommit = reset --soft HEAD^
    unamend = reset HEAD@{1}
    undo = reset --hard HEAD@{1}
    backout = revert
[color]
    ui = auto
[pull]
    rebase = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
{{- if eq .osid "windows" }}
    program = C:/Windows/System32/OpenSSH/ssh-keygen.exe
{{- end }}
[commit]
    gpgsign = {{ ne (get .chezmoi.osRelease "id") "centos" }}
[tag]
    forceSignAnnotated = {{ ne (get .chezmoi.osRelease "id") "centos" }}
[init]
    defaultBranch = main
[core]
    pager = delta
{{- if eq .osid "windows" }}
    symlink = true
    sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- end }}
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
    colorMovedWS = allow-indentation-change
[interactive]
    diffFilter = delta --color-only --pager less
[delta]
    # features:
    dark = true
    pager = "ov -F"
    side-by-side = true
    line-numbers = true
    # styles:
    file-modified-label = modified:
    hunk-header-decoration-style = yellow box
    hunk-header-style = syntax
    right-arrow = ->
    line-numbers-left-format = "{nm:>3}│"
    line-numbers-right-format = "{np:>3}│"
    line-numbers-zero-style = gray
    minus-emph-style = lemonchiffon crimson underline
    minus-empty-line-marker-style = normal maroon
    minus-style = syntax darkred
    plus-emph-style = lemonchiffon olivedrab underline
    plus-empty-line-marker-style = normal seagreen
    plus-style = syntax darkgreen
    whitespace-error-style = black white
    map-styles = "bold purple => syntax #33194d, bold cyan => syntax #4d2673"
[delta "interactive"]
    keep-plus-minus-markers = false
