#!/bin/sh

# MacOS build version: {{ output "sw_vers" "--buildVersion" }}
{{- if ge (output "sw_vers" "--productVersion" | trim) "14" }}

preference_key="/Library/Preferences/FeatureFlags/Domain/UIKit.plist"
dict_key="redesigned_text_cursor"

# Read the dictionary key
dict_output=$(sudo defaults read "$preference_key" "$dict_key" 2>/dev/null)

# Check if the dictionary key output contains 'Enabled = 0;'
if [[ "$dict_output" =~ "Enabled = 0;" ]]; then
    echo "Preference for redesigned text cursor is already set correctly."
else
    echo "Setting preference for redesigned text cursor..."
    # The value isn't set correctly or the key doesn't exist, set the value now
    sudo defaults write "$preference_key" "$dict_key" -dict Enabled -bool NO
    echo "Preference set successfully."
    echo "REBOOT IS REQUIRED FOR NEW CURSOR TO TAKE EFFECT"
fi
{{- end }}
