{{- $scoopfile := joinPath .chezmoi.sourceDir ".data/scoopfile.json" -}}
# scoopfile hash: {{ include $scoopfile | sha256sum }}

# git is needed for adding buckets
powershell -Fie "$env:USERPROFILE\scoop\shims\scoop.ps1" install git
powershell -Fie "$env:USERPROFILE\scoop\shims\scoop.ps1" import {{ $scoopfile }}
