if (!(Test-Path "$HOME\.config\chezmoi\key.txt")) {
    # Create the directory if it doesn't exist
    New-Item -ItemType Directory -Path "$HOME\.config\chezmoi" -Force

    # Decrypt the key.txt.age file
    chezmoi age decrypt --output "$HOME\.config\chezmoi\key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"

    # Set permissions so only the current user has read and write access
    $user = "$env:USERDOMAIN\$env:USERNAME"
    icacls "$HOME\.config\chezmoi\key.txt" /inheritance:r /grant:r "${user}:(R,W)"
}
