{{- $scoopfile := joinPath .chezmoi.sourceDir ".data/scoopfile.json" -}}
# scoopfile hash: {{ include $scoopfile | sha256sum }}

# git is needed for adding buckets
$env:USERPROFILE\scoop\shims\scoop install git
$env:USERPROFILE\scoop\shims\scoop import {{ $scoopfile }}
