{{- if eq .osid "linux-centos" -}}
#!/bin/sh

TARGET_PATH="{{ joinPath (osDir .chezmoi.configFile) "work_gitconfig" }}"
if [ ! -f "${TARGET_PATH}" ]; then
    chezmoi decrypt --output "${TARGET_PATH}" "{{ .chezmoi.sourceDir }}/.data/work_gitconfig.age"
    chmod 600 "${TARGET_PATH}"
fi
{{ end }}
