{{ if ne .osid "windows" -}}
#!/bin/sh

# Install uv tools
{{- $uv_tools := joinPath .chezmoi.sourceDir ".data/uv_tools.txt" | include | trim -}}
{{- $tools_list := splitList "\n" $uv_tools -}}
{{- $chezmoi := .chezmoi -}}
{{- range $tools_list }}

{{ includeTemplate "pypi_version" (dict "chezmoi" $chezmoi "package" .) | comment  "# " }}
uv tool install --upgrade {{ . }}
{{- end }}

{{ includeTemplate "pypi_version" (dict "chezmoi" $chezmoi "package" "thefuck") | comment  "# " }}
uv tool install --upgrade thefuck --python python3.11 --with setuptools
{{ end -}}
