#!/usr/bin/env bash

# .tmux.conf hash: {{ joinPath .chezmoi.homeDir ".tmux.conf" | include | sha256sum }}

if command -v tmux &> /dev/null; then
    tmux source-file $HOME/.tmux.conf
    ~/.tmux/plugins/tpm/scripts/install_plugins.sh
fi
